<footer>
  <div class="container">
    <div class="footer-col">
      Last build on:
      <abbr title="{{site.time | date: '%Y-%m-%d'}}"> {{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col">
      Template from: <a href="https://github.com/domoritz/domoritz.github.io/edit/master/{{page.path}}">@domoritz</a>
    </div>
    <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://twitter.com/YuhengZhao_">@YuhengZhao_</a> on Twitter.</div>
  </div>
</footer>
